

.info{
    display:flex;
    align-items:flex-start;
    justify-content: space-around;
    margin-bottom:2rem;
}

.left h2{
    margin:1rem 0 0.4rem;
    color:rgb(82, 9, 9);
}
.social{
    margin-top: 0.5rem;
}
.co, 
a, .social-icons{
    display:flex;
    align-items: center;
    color: rgb(19, 18, 18);
    /* margin-bottom:2rem; */
}
.co{
    margin-bottom:1.5rem;
}
.icon.con:hover{
    background:rgb(239, 192, 104);
        color:rgb(82, 9, 9);
}
.social{
    margin-top:0.6rem;

}
.social-icons{
    margin-top:0.6rem;
}
.social-icons a {
    margin-right:0.7rem;
    background:rgb(82, 9, 9);
    color:white;
    padding:0.4rem;
}
.bg{
    height:40vh;
    width: 100%;
}
.bg img{
    height: 100%;
    width:100%;
    border-radius:5px;
}


@media screen and (max-width:600px) { 
    .left{
        margin-bottom:1.5rem;
    }
.left, .right{
    width:100%;
}
.left h2{
    font-size:1.5rem;
}

}