

.info{
    display:flex;
    align-items:flex-start;
    justify-content: space-around;
    margin-bottom:2rem;
}

.left h2{
    margin:1rem 0 0.4rem;
}
.co, a{
    display:flex;
    align-items: center;
    /* margin-bottom:2rem; */
}
.co{
    margin-bottom:1.5rem;
}
.icon.con:hover{
    background:rgb(239, 192, 104);
        color:rgb(82, 9, 9);
}
.bg{
    height:40vh;
    width: 100%;
}
.bg img{
    height: 100%;
    width:100%;
    border-radius:5px;
}


@media screen and (max-width:600px) { 
    .left{
        margin-bottom:1rem;
    }
.left, .right{
    width:100%;
}
.left h2{
    font-size:1.7rem;
}

}